<div class="user-table-container">
  <table
    mat-table
    [dataSource]="users"
    multiTemplateDataRows
    class="mat-elevation-z8"
  >
    <!-- Expand Column -->
    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let user" (click)="toggleAccordion(user)">
        <mat-icon class="expand-icon">
          {{ isExpanded(user) ? "expand_more" : "chevron_right" }}
        </mat-icon>
      </td>
    </ng-container>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let user">{{ user.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let user">{{ user.name }}</td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let user">{{ user.email }}</td>
    </ng-container>

    <!-- Phone Column -->
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>Phone</th>
      <td mat-cell *matCellDef="let user">{{ user.phone }}</td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let user">
        <button mat-button (click)="toggleAccordion(user)">
          {{ isExpanded(user) ? "Hide Details" : "View Details" }}
        </button>
      </td>
    </ng-container>

    <!-- Expanded Content Column (One column for the whole expanded row) -->
    <ng-container matColumnDef="expandedDetail">
      <td
        mat-cell
        *matCellDef="let user"
        [attr.colspan]="displayedColumnsWithExpand.length"
      >
        <div
          class="example-element-detail"
          [@detailExpand]="isExpanded(user) ? 'expanded' : 'collapsed'"
        >
          <app-user-detail
            *ngIf="isExpanded(user)"
            [user]="user"
          ></app-user-detail>
        </div>
      </td>
    </ng-container>

    <!-- Header Row -->
    <tr mat-header-row *matHeaderRowDef="displayedColumnsWithExpand"></tr>

    <!-- Normal Data Rows -->
    <tr
      mat-row
      *matRowDef="let user; columns: displayedColumnsWithExpand"
      class="example-element-row"
      [class.example-expanded-row]="isExpanded(user)"
      [attr.colspan]="displayedColumnsWithExpand.length"
      (click)="toggleAccordion(user)"
    ></tr>

    <!-- Expanded Detail Rows -->
    <tr
      mat-row
      *matRowDef="let row; columns: ['expandedDetail']"
      class="example-detail-row"
    ></tr>
  </table>
</div>
